---
import Layout from "../layouts/Layout.astro";

let projects: any[] = Object.values(
  await import.meta.glob("./projects/*", { eager: true })
);
projects = projects.map((project) => {
  return {
    text: project.frontmatter.title,
    url: project.frontmatter.page,
  };
});
---

<Layout title="tengille | index">
  <main>
    {
      projects.map((item) => (
        <div class="item">
          <a href={item.url}>{item.text}</a>
        </div>
      ))
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }

	.item {
		margin-top: 5px;
	}
</style>
