---
// import { Icon } from "astro-icon/components";
---

<div class="header">
  <div class="brand"><a href="/">tengille</a></div>
  <div class="links">
    <a target="_blank" href="https://bsky.app/tengille">bsky</a>
    <a target="_blank" href="https://twitch.tv/tengille_">twitch</a>
    <a target="_blank" href="https://github.com/tengille">github</a>
  </div>
</div>

<style>
  .header {
    height: 20px;
    margin: 20px 0px 30px 0px;
    width: 100%;
    display: flex;
    line-height: 20px;
  }

  .header .brand {
    margin-bottom: 4px;
    width: 30%;
  }

  .header .brand a {
    font-family: "Bauhaus-93";
    font-size: 20px;
  }

  .header .brand a:hover {
    background: linear-gradient(to left, #743ad5, #d53a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
  }

  .header .links {
    margin-top: 1.5px;
    text-align: right;
    width: 70%;
  }

  .header .links a {
    margin-right: 10px;
  }
</style>

