---
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import {
  faBluesky,
  faTwitch,
  faGithub,
  faYoutube,
} from "@fortawesome/free-brands-svg-icons";
import { faCoffee, faHome } from "@fortawesome/free-solid-svg-icons";

interface Props {
  name: string;
  href?: string;
}

const { name, href } = Astro.props;

library.add(faBluesky, faTwitch, faGithub, faYoutube, faCoffee, faHome);

// a more dynamic way to load these would be cool
const blueSkyIcon = icon({ prefix: "fab", iconName: faBluesky.iconName });
const twitchIcon = icon({ prefix: "fab", iconName: faTwitch.iconName });
const githubIcon = icon({ prefix: "fab", iconName: faGithub.iconName });
const youtubeIcon = icon({ prefix: "fab", iconName: faYoutube.iconName });
const coffeeIcon = icon({ prefix: "fas", iconName: faCoffee.iconName });
const homeIcon = icon({ prefix: "fas", iconName: faHome.iconName });

const iconMap = new Map<string, any>(); // without 'any', possibly undefined
iconMap.set('home', homeIcon);
iconMap.set("bluesky", blueSkyIcon);
iconMap.set("twitch", twitchIcon);
iconMap.set("github", githubIcon);
iconMap.set("youtube", youtubeIcon);
iconMap.set("coffee", coffeeIcon);

const chosenIcon = iconMap.get(name);
---

<div class="icon">
  {
    href ?
    <a target="new" href={href}>
      <Fragment set:html={chosenIcon.html} />
    </a> :
    <Fragment set:html={chosenIcon.html} />
  }
</div>

<style>
</style>
