---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="content">
      <Header />
      <slot />
    </div>
  </body>
</html>

<style is:global>
  /* @font-face {
    font-family: "Reactor7";
    src: url("/fonts/Reactor7/Reactor7.ttf");
  }

  @font-face {
    font-family: "Fritz-Quadrata-Regular";
    src: url("/fonts/Bauhaus_93/Bauhaus 93 Regular.ttf");
  } */

  @font-face {
    font-family: "Bauhaus-93";
    src: url("/fonts/Bauhaus_93/Bauhaus 93 Regular.ttf");
  }

  /* variabless */
  :root {
    --default-background-color: #fff;
    --default-font-color: #000;
  }

  html,
  body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  html.light,
  body.light {
    background-color: var(--default-background-color);
    color: var(--default-font-color);
  }

  html.dark {
    background-color: #000;
    color: #fff;
  }

  a {
    color: var(--default-font-color);
    text-decoration: none;
  }

  a:hover {
    border-style: solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  p a {
    background: linear-gradient(to left, #743ad5, #d53a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
  }

  img {
    width: 100%;
  }
  #content {
    margin: auto;
    max-width: 800px;
    width: 60%;
  }
</style>
